<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Associated Domains для Universal Links -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:api.sistemizdorovya.ru</string>
		<string>applinks:xn--b1adcidzqardbm3jua9b.xn--p1ai</string>
	</array>
</dict>
</plist>
